{% extends "layout.html" %}
{% block content %}
<div id="account_div">
    <h3 id="page_nm_account">{{ user }}</h3>
    <p>Forename: {{ userinfo.user_forename }}<br>
        Surname: {{ userinfo.user_surname }}<br>
        Username: {{ userinfo.user_username }}<br>
        Email: {{ userinfo.user_email }}<br>
        Phone Number: {{ userinfo.user_phone }}</p>
    <p>Want to delete your account?</p>
    <p><a href="{{ url_for('delete_account') }}" id="account_delete_button">Delete Account</a></p>
</div>
{% endblock %}