<!DOCTYPE html>
<html>
    <head>
        <title>Leeds Scooter Booker: {{ page_name }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="title">
            <h1>Leeds Scooter Booker</h1>
            <h2>A Greener Way There</h2>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('booking', booking_failed=False) }}">Book a Scooter</a></li>
                <li><a href="{{ url_for('depots')}}">Dopts</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                {% if current_user.is_authenticated %}
                    {% block userA %}
                    <li><a href="{{ url_for('user_account_page', username=user) }}">{{ user }}</a></li>
                    <li><a href="{{ url_for('logout') }} ">Logout</a></li>
                    {% endblock userA %}
                {% else %}
                    {% block userB %}
                    <li><a href="{{ url_for('login', login_failed=False) }}">Login</a></li>
                    {% endblock userB %}
                {% endif %}
            </ul>
        </nav>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>