{% extends "layout.html" %}
{% block content %}
<div id="login_div">
    <h3 id="page_nm_login">Login</h3>
    <div id="login_boxes">
        <p>Username:</p>
        <input type="text" id="login_username" name="txt_login_uname" maxlength=99><br>
        <p>Password:</p>
        <input type="text" id="login_password" name="txt_login_uname" maxlength=99><br>
        <button type="button" id="login_subbutton">Login</button>
    </div>
    <p id="login_div_error_msg">Please fill in both boxes.</p>
    <p id="login_account_message">Don't have an account?</p>
    <p id="login_signup_link"><a href="{{ url_for('signup', signup_failed=False) }}">Signup</a></p>
</div>
<script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}